* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
  background-position: center;
  background-size: cover;
}

main .card {
  width: 320px;
  min-height: 560px;
  border-radius: 20px;
  background-color: hsl(225, 100%, 98%);
  box-shadow: 0 0 30px rgb(139, 137, 137);
}
main .card .main-img {
  width: 100%;
  height: 150px;
  background-image: url("../images/illustration-hero.svg");
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main .card .text-box {
  margin-top: 3rem;
  text-align: center;
}
main .card .text-box h1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 2.4rem;
}
main .card .text-box p {
  margin: 2rem 0.5rem;
  padding: 0 2rem;
  color: hsl(224, 23%, 55%);
  font-size: 1.6rem;
  font-weight: 500;
}
main .card .price-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  margin: 3rem auto;
  padding: 1.2rem;
  border-radius: 15px;
  background-color: hsl(226, 68%, 96%);
}
main .card .price-box .music-icon {
  margin-left: -1rem;
}
main .card .price-box .annual-plan-box .annual-plan-header {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}
main .card .price-box .annual-plan-box .price-text {
  color: hsl(224, 23%, 55%);
}
main .card .price-box .change-text {
  margin-left: 3rem;
}
main .card .price-box .change-text a {
  color: hsl(245, 75%, 52%);
  font-size: 1.4rem;
  font-weight: 700;
}
main .card .price-box .change-text a:hover {
  color: hsl(245, 89%, 70%);
  text-decoration: none;
}
main .card .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .card .buttons .payment-btn {
  padding: 1.4rem 6rem;
  background-color: hsl(245, 75%, 52%);
  border: none;
  font-size: 1.4rem;
  font-weight: 900;
  border-radius: 10px;
  color: hsl(225, 100%, 98%);
  box-shadow: 0 5px 30px rgb(139, 137, 137);
  cursor: pointer;
}
main .card .buttons .payment-btn:hover {
  background-color: hsl(245, 89%, 70%);
}
main .card .buttons .cancel-btn {
  margin-top: 3rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}
main .card .buttons .cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}

footer {
  position: absolute;
  bottom: 0;
}

@media (min-width: 1440px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
  main .card {
    width: 360px;
  }
  main .card .text-box p {
    margin: 2rem 0.5rem;
    padding: 0 2.8rem;
    color: hsl(224, 23%, 55%);
    font-size: 1.6rem;
    font-weight: 500;
  }
  main .card .price-box {
    width: 320px;
    margin: 3rem auto;
    padding: 1.2rem;
  }
  main .card .buttons .payment-btn {
    padding: 1.4rem 8.5rem;
  }
}/*# sourceMappingURL=style.css.map */