$p-blue: hsl(225, 100%, 94%);
$b-blue: hsl(245, 75%, 52%);
$vp-blue: hsl(225, 100%, 98%);
$d-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$price-background: hsl(226, 68%, 96%);
$b-blue-hover: hsl(245, 89%, 70%);